.consent__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    min-width: 40px;
    min-height: 20px;
}
  
  .consent__switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .consent__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .consent__slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .consent__switch input:checked + .consent__slider {
    background-color: #ffca30;
  }
  
  .consent__switch input:focus + .consent__slider {
    box-shadow: 0 0 1px #ffca30;
  }
  
  .consent__switch input:checked + .consent__slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px)
}
  
  .consent__slider.round {
    border-radius: 34px;
  }
  
  .consent__slider.round:before {
    border-radius: 50%;
  }